*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body {
    width: 100%;
}
.page-header {
    background-image: url("../img/header-bg.jpeg");
    height: 369px;
}
.logo-header{
    height: 70px;
    background-color: #313131;
}
.logo-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 29px;
}
.section-menu-title {
    display: flex;
    /*justify-content: center;*/
}
.name-menu-title {
    padding-right: 35px;
}
.name-href {
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
    padding: 27px;
}
.href-menu-title {
    color: #ffffff;
    font-size: 15px;
    line-height: 20px;
}
.neme-title {
    font-size: 27px;
    line-height: 37px;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 94px;
}
.section-most-popular-menu {

    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
    justify-content: space-evenly;

}
.name-section {
    font-size: 27px;
    font-weight: bold;
    font-style: normal;
    line-height: 37px;
    color: #18B4cf;
    text-transform: uppercase;
    /*margin-right: auto;*/
    display: flex;
    justify-content: center;
    /*position: absolute;*/
}
.section-clients {
    background-image: url("../img/parallax-bg.jpeg");
    height: 588px;
}
.title-section-clients {
    font-size: 32px;
    line-height: 44px;
    color: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 106px;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
}
.logo {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    /*align-items: center;
    grid-column: fr1;
    grid: max-content;*/
}
.top-rated {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    /*width: 1900px;*/
}
.item-top-rated {
    min-width: 100%;
    object-fit: cover;
}
.title-text {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
}
.text-hot-news {
    font-style: normal;
    font-size: 14px;
    line-height: 21px;
    color: #5B6469;
}
.hot-news {
    display: grid;
    /*grid-template-rows: 4fr;*/
    /*grid-template-columns: repeat(2, 2fr);
    /*justify-items: flex-start;*/
    grid-template-areas:
    "item-hot-news1 item-hot-news2"
    "item-hot-news3 item-hot-news4"
    "item-hot-news5 item-hot-news6"
    "item-hot-news7 item-hot-news8"
}
.text-footer {
    font-size: 13px;
    font-style: normal;
    font-weight: normal;
    line-height: 13px;
    color: #ffffff;
}
.footer {
    height: 80px;
    background: #000000;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 367px;
    padding-right: 386px;
}
.item-hot-news {
    width: content-box;
}
.item-hot-news1 {
    width: 856px;
    height: 259px;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.item-hot-news2 {
    width: 277px;
    height: 259px;
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);

    /*display: flex;
    align-content: stretch;
    justify-content: space-between;*/

}
.item-hot-news3 {
    width: 554px;
    height: 418px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-around;
    /*justify-content: center;*/
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.item-hot-news4 {
    width: 554px;
    height: 418px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    /*justify-content: space-between;*/
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.item-hot-news5 {
    width: 554px;
    height: 418px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    /*justify-content: space-between;*/
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.item-hot-news6 {
    width: 554px;
    height: 418px;
    display: flex;
    flex-wrap: wrap;
    align-content: space-between;
    /*justify-content: space-between;*/
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.item-hot-news7 {
    width: 277px;
    height: 230px;
    /*display: flex;
    align-content: stretch;
    justify-content: space-between;*/
    background: rgba(0, 0, 0, 0.0001);
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.item-hot-news8 {
    width: 856px;
    height: 259px;
    display: flex;
    align-content: stretch;
    justify-content: space-between;
    background: #F9F7F7;
    box-shadow: 0px 1px 0px rgba(0, 0, 0, 0.03);
}
.contener {
    /*margin-top: 170px;*/
    text-align: center;
    margin-bottom: 55px;
}
.button {
    display: flex;
    flex-wrap: nowrap;
    justify-content: center;
}
.name-button-now {
    display: inline-block;
    padding: 16px 19px;
    font-size: 18px;
    color: #FFFFFF;
    background: #89CA62;
}
.name-button-best {
    display: inline-block;
    padding: 16px 19px;
    font-size: 18px;
    color: #FFFFFF;
    background: #14B9D5;
    margin-left: 20px;
}
.text-most-popular {
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 25px;
    color: #353A3D;
    text-align: center;
}