*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body {
    width: 100%;
    height: 100%;
    overflow: hidden;
    background-color: black;
}
.contaner {
    position: relative;
    width: 100%;
    min-height: 60vh;
    top: -25px;
    background-image: linear-gradient(0deg, transparent, black 75%);
    z-index: 1;
}
.animation {
    display: flex;
    justify-content: center;
    position: relative;
    height: 800px;
    line-height: 150%;
    perspective: 400px;
    text-align: justify;
    font-family: "Roboto", "Arial", sans-serif;
    font-size: 500%;
    color: gold;
}
.episode {
    position: relative;
    top: 9999px;
    transform-origin: 50% 100%;
    animation: episode 20s linear infinite;

}

@keyframes episode {
    0% {
        top: 0;
        transform: rotateX(20deg) translateZ(0);
    }
    100% {
        top: -7000px;
        transform: rotateX(50deg) translateZ(-2500px);
    }
}

