html {
    font-size: 100%;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body {
    width:1280px;
    margin: auto;
}
.page-header_title {
    font-size: 80px;
    line-height: 98px;
}
.href-page-header_title {
    color: blue;
}
.black-color {
    color: #000000;
}
.menu-title-section {
    text-align: center;
    font-size: 24px;
    background: #35444F;
}
.menu-title-text {
    display: inline-block;
    border-left: 1px solid #ffffff;
    padding: 25px 40px 20px;
}
.href-menu-title-text {
    color: #ffffff;
}
.menu-title-text:hover {
    background: #222F3A;
}
.container{
    padding-top: 50px;
    display: flex;
    justify-content: space-between;
}
.menu-section_block{
    border: 1px solid #000000;
    padding-top: 26px;
    padding-bottom: 30px;
    width: 344px;
}
.menu-section-text {
    padding: 20px 40px;
    font-size: 27px;
    background: rgba(0, 0, 0, 0.0001);
}
.href-menu-section_block {
    color: #485863;
}
.menu-section-text:hover {
    background: #DBDBDB;
}
.section-img {
    width: 885px;
    height: 529px;
    background: rgba(0, 0, 0, 0.0001);
    border: 1px solid #000000;
}
.img {
    display: flex;
    margin: auto;
    padding-top: 75px;
}
.img:hover {
    -webkit-transform: scale(1.2);
    -ms-transform: scale(1.2);
    transform: scale(1.2);
}
.text-block {
    font-size: 18px;
    line-height: 24px;
    color: #2C2C2C;
    text-align: left;
    width: 885px;
}
.footer {
    display: flex;
    padding: 20px 40px;
    justify-content: space-between;
    font-size: 24px;
    background: rgba(99, 105, 110, 0.48);
}
.footer-menu {
    display: flex;
}
.href-name-footer-menu {
    color: #0C1927;
}
.name-footer-menu {
    margin-right: 20px;
    font-size: 28px;
}
.name-footer-menu:hover {
    color: blue;
}
.Copyright {
    font-size: 24px;
}
