*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body {
    background-image: url("../img/fon.png");
    background-size: cover;
}
.page-header {
    background: 0 58px;
    background-color: rgba(0, 0, 0, 0.4);
    display: flex;
    justify-content: space-between;
    padding-right: 79px;
}
.title-header {
    display: flex;
    align-items: center;
    padding: 17px;
}

.font-family {
    font-family: 'Ubuntu', 'Arial', sans-serif;
    color: #ffffff;
}
.name-title {
    padding-left: 79px;
}
.logo {
    font-weight: bold;
    font-size: 22px;
    line-height: 22px;
}
.name-title:hover {
    color: #3CB878;
}
.content {
    width: 444px;
    background-color: #ffffff;
    margin: auto;
    padding-bottom: 38px;
    text-align: center;
    position: relative;
}

.sign-log {
    display: flex;
    justify-content: space-between;
    margin-right: 60px;
    margin-left: 60px;
    align-items: center;
}
.content::before{
    position: absolute;
    content: "";
    background-color: #3CB878;
    width: 18px;
    height: 18px;
    left: 0;
    top: 30px;
}
.sign-up {
    margin-top: 31px;
    font-size: 20px;
    line-height: 20px;
    color: #434343;
}
.log-in {
    font-size: 14px;
    line-height: 14px;
    color: #3CB878;
    padding-top: 33px;
}
.svg {
    margin-right: 25px;
}
.svg:hover .color-svg {
    color: #3CB878;
}
.color:hover {
    color: #3CB878;
}
.button-form {
    display: flex;
    padding-top: 15px;
}
.facebook {
    width: 160px;
    height: 48px;
    margin-right: 2px;
    margin-left: 60px;
    background: #305DB8;
    font-size: 16px;
    line-height: 16px;
    color: #FFFFFF;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.facebook::after{
    content: "";
    width: 1px;
    height: 28px;
    background: #0A162F;
    mix-blend-mode: normal;
    opacity: 0.1;
}
.google {
    width: 160px;
    height: 48px;
    margin-right: 60px;
    margin-left: 2px;
    background: #DF4A32;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}
.or {
    text-align: center;
    width: 80%;
    margin: 0 auto;
    overflow: hidden;
    padding-top: 31px;
}
.or .text {
    position: relative;
}

.or .text:before {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #F2F2F2;;
    top:50%;
    right: 14px;
}
.or .text:after {
    display: block;
    width:1000px;
    content: '';
    position: absolute;
    border-bottom: 1px solid #F2F2F2;;
    top:50%;
    left: 14px;
}

.text {
    font-size: 14px;
    line-height: 14px;
    color: #848484;
}
.form {
    display: flex;
}
.form-input {

    background: #FFFFFF;
    box-shadow: 0px 3px 8px rgba(0, 0, 0, 0.21);
    border-radius: 4px;
    font-size: 14px;
    line-height: 14px;
    color: #434343;
}
.background {
    margin-top: 15px;
    width: 324px;
    height: 46px;
    padding: 20px;
}
.checked {
    padding-top: 12px;
}
.form-checkbox {
    display: none;
}
.form-checkbox:checked + .form-check {
    color: #434343;
    font-size: 14px;
    line-height: 14px;
}

.button-create {
    padding-top: 20px;
}
.terms-conditions {
    color: #3CB878;
}
.create-account {
    background: rgba(60, 184, 120, 0.8);
    border-radius: 4px;
    width: 324px;
    height: 46px;
    margin: auto;
    padding: 14px;
}