*,
*::after,
*::before {
    box-sizing: border-box;
}
.page-body {
    background-image: url("../img/background.png");
    position: relative;
    width: 1023px;
    margin: auto;
}
.font-family{
    font-family: 'Roboto', 'Arial', sans-serif;
    color: #ffffff;
    font-style: normal;
    font-weight: normal;
    font-size: 18px;
    line-height: 18px;
}
.font-family:hover {
    color: #F26522;
}
.name-href {
    position: relative;
}
.name-href .img-logo {
    position: absolute;
    opacity: 0;
    filter:alpha(opacity=0);
}
.name-href:hover .img-logo:hover {
    opacity: 1;
    filter: alpha(opacity=100);
}
.text-header {
    width: 140px;
    display: flex;
    flex-direction: column;
    margin-left: 8px;
    justify-content: space-between;
}
.name-href {
    display: flex;
   align-items: center;
    margin-top: 51px;
}
.holidays {
    font-weight: bold;
    font-size: 18px;
    line-height: 18px;
}
.text-header {
    font-weight: bold;
    font-size: 29px;
    line-height: 29px;
}
.mail-href {
    position: absolute;
    right: 15px;
    top: 19px;
}
.tel-href {
    position: absolute;
    right: 15px;
    top: 46px;
}
.content-menu {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    }

.item-content-menu {
    padding-top: 20px;
    text-align: center;

}
.text-footer{
    font-size: 12px;
    line-height: 12px;
    margin-bottom: 15px;
    text-align: center;
}
.bloc {
    font-size: 10px;
    line-height: 10px;
}
.price {
    font-size: 20px;
    line-height: 20px;
}
.details {
    font-size: 14px;
    line-height: 14px;
}

.item-content-menu {
    position: relative;
}
.bloc {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    flex-direction: column;
    align-content: stretch;
    position: absolute;
    top: 175px;
    margin-left: 20px;
    width: 300px;
    height: 55px;
    z-index: 1;
    background-color: #F26522;
}

.details::after {
    content: "";
    display: block;
    width: 0;
    height: 0;
    border: 8px solid transparent;
    border-left: 6px solid #ffffff;
}
.bloc:active {
    background-color: #F26522;
    z-index: -1;
}