html {
    font-size: 100%;
}
*,
*::after,
*::before {
    box-sizing: border-box;
}
.main-menu {
    text-align: center;
}
.main-menu__item {
    display: inline-block;
    margin-right: 72px;
    margin-top: 25.5px;
}
.main-menu__link {
    font-weight: bold;
    letter-spacing: 2.7px;
    text-transform: uppercase;
    color: #FF0000;
}
.img {
    width: 100%;
    height: 789px;
    margin-top: 25.5px;
    }
.text-title {
    width: 100%;
    display: flex;
    justify-content: center;
    letter-spacing: 3.3px;
    text-transform: uppercase;
    color: #373737;
    margin-top: 48px;
}
.text-block {
    margin-top: 38px;
    margin-left: 67.5px;
    margin-right: 67.5px;
    font-size: 16px;
    line-height: 26px;
    text-align: center;
    letter-spacing: 2.4px;
    color: #373737;
}
.text-block-2 {
    margin-top: 28px;
}
.content {
    margin-top: 66px;
    text-align: center;
    margin-bottom: 42px;
}
.content-text {
    display: inline-block;
    padding: 18px 40px;
    font-size: 12px;
    letter-spacing: 1.8px;
    text-transform: uppercase;
    border-radius: 4px;
    font-weight: bold;
    color: #FFFFFF;
    background: #FF0000;
}
.page-footer {
    margin-top: 82px;
    padding: 29px;
    text-align: right;
}
.copyright {
    /*margin-top: 82px;*/
    margin-right: 105px;
    line-height: 20px;
    font-size: 16px;
    font-weight: bold;
    letter-spacing: 2.4px;
}